<html lang='en'>
  <head>
    <meta charset='utf-8' />
    
    <script
      src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'
    ></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() { var calendarEl
      = document.getElementById('calendar'); var calendar = new
      FullCalendar.Calendar(calendarEl, { initialView: 'dayGridWeek',events: [
      
      {{#each workoutData}}
        {title:"{{this.name}}",
        id:"{{this.id}}", 
        start:"{{this.date}}", 
        end:"{{this.date}}"},
      {{/each}}
      ],

  eventClick: function(info) {
    document.location.href = `/workout/${info.event._def.publicId}`;
    // change the border color just for fun
    info.el.style.borderColor = 'red';
  }
});
      calendar.render(); });

    </script>
  </head>
  <body class="column" >
    <div id='calendar'></div>
    {{#each workoutData}}

      {{/each}}
    <script type='text/javascript'>

      const calenderData =
      {{{json workoutData}}}; console.log(calenderData); 
    </script>
  </body>
</html>